<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>URL SHORTNER</h1>
    <% if(locals.id){ %>     
    <p>URL Generated - http:localhost:4000/url/<%= id %></p>
    <% } %>
    <div>
     <form action="/url/" method="post">
        <label>Enter Original URL</label>
        <input type="text" name="redirectUrl" placeholder="http:example.com" />
        <button type="submit">Generate</button>
    </form>
    </div>
    <div>
        <% if(locals.urls){ %>
        <table>
            <thead>
                <th>SrNo.</th>
                <th>ShortId</th>
                <th>RedirectUrl</th>
                <th>TotalClicks</th>
            </thead>
            <tbody>
            <% urls.forEach((url, index) => { %>
                <tr>
                    <td><%= index + 1 %></td>
                    <td><%= url.shortId %></td>
                    <td><%= url.redirectUrl %></td>
                    <td><%= url.visitHistory.length %></td>
                </tr>
            <% }) %>
                
            </tbody>
        </table>

        <% } %>
    </div>
   
</body>
</html>
